.head-container {
  padding-bottom: 5px;
  .search-opts {
    padding: 0 0 0 0; // TIPS: 取消右边距
  }
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 10px 0;
    input {
      height: 30.5px;
      line-height: 30.5px;
    }
  }
  .el-form--inline {
    height: 40px;
  }
  .el-form-item-label {
    margin: 0 3px 9px 0;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    color: #606266;
    line-height: 30.5px;
    padding: 0 7px 0 7px;
  }
  .el-button+.el-button {
    margin-left: 0 !important;
  }
  .el-select__caret.el-input__icon.el-icon-arrow-up {
    line-height: 30.5px;
  }
  .date-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    height: 30.5px !important;
    width: 230px !important;
  }
  .el-date-editor {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    height: 30.5px !important;
    /* width: 230px !important; */
  }
}

.el-avatar {
  display: inline-block;
  text-align: center;
  background: #ccc;
  color: #fff;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
}

.search-opts .muses-search-form-item[btn] {
  display: flex;
  justify-content: flex-start;  /* 左对齐按钮 */
  gap: 10px;  /* 按钮之间的间距 */
}

.search-opts .el-button {
  flex: 0 0 auto;  /* 按钮大小自适应 */
}

.logo-con {
  height: 60px;
  padding: 13px 0 0;
  img {
    height: 32px;
    width: 135px;
    display: block;
  }
}

#el-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, serif;
  font-size: 12px;
  letter-spacing: 1px;
}

#el-main-footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  overflow: hidden;
  padding: 10px 6px 0 6px;
  height: 33px;
  font-size: 0.7rem !important;
  color: #7a8b9a;
  letter-spacing: 0.8px;
  font-family: Arial, sans-serif !important;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
}
.custom-upload {
  border: 1px dashed #c0ccda;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  width: 368px;
}
.my-blockquote {
  margin: 0 0 10px;
  padding: 15px;
  line-height: 22px;
  border-left: 5px solid #00437B;
  border-radius: 0 2px 2px 0;
  background-color: #f2f2f2;
}
.my-code {
  position: relative;
  padding: 15px;
  line-height: 20px;
  border-left: 5px solid #ddd;
  color: #333;
  font-family: Courier New, serif;
  font-size: 12px
}

.el-tabs {
  margin-bottom: 25px;
}

.el-select {
  display: inline-block;
  position: relative;
  width: 100%;
}

.crud-opts {
  padding: 4px 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.crud-opts .crud-opts-right {
  margin-left: auto;
}
.crud-opts .crud-opts-right span {
  float: left;
}

// 修改 show-overflow-tooltip 的宽度
.el-tooltip__popper {
  max-width: 600px;
}

// 卡片布局
.card-container {
  position: relative;
  margin: 10px 10px 0 10px;
}
.main-card {
  min-height: calc(100vh - 135px);
}
.card-title {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #202a34;
}
.card-title::before {
  content: '';
  width: 24px;
  height: 16px;
  border-left: 3px solid #0081ff;
  margin-right: 20px;
}
.card-item {
  font-size: 14px;
  margin-top: 40px;
  color: #999;
}
.card-item span {
  margin-right: 24px;
}
.card-item-status {
  cursor: pointer;
}
.card-item-active-status {
  cursor: pointer;
  color: #333;
  font-weight: bold;
}
.card-operation {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  margin-top: 2.25rem;
}
.card-pagination {
  float: right;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
}
.el-dialog__footer {
  margin-bottom: 100px;
}

// el-image
.image-slot {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f7fa;
  color: #c0c4cc;
}
