/*
 你可以通过修改这个文件定制 Element UI 的默认主题样式.
*/

// 主题颜色配置, 这些颜色会影响整个 UI 中的各种元素，如按钮、标签、状态提示、表单验证等
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
$--color-info: #1E1E1E;

// 字体粗细，默认 500
$--button-font-weight: 500;

// 设置文本颜色
$--color-text-regular: #1f2d3d;

// 边框颜色配置
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border: 1px solid #dfe6ec;

// 字体路径配置
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// 引入 Element UI 的默认主题
// 通过这个导入，所有 Element UI 组件的样式会应用上面定义的主题颜色和其他配置
@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

:export {
  // 导出主题颜色，可以在外部进行动态配置
  theme: $--color-primary;
}
