// base color
$blue:#324157; // 蓝色
$light-blue:#3A71A8; // 浅蓝色
$red:#C03639; // 红色
$pink: #E65D6E; // 粉红色
$green: #30B08F; // 绿色
$tiffany: #4AB7BD;
$yellow:#FEC171; // 黄色
$panGreen: #0b4435;

// sidebar
$menuText:#bfcbd9; // 侧边栏主菜单的文本颜色
$menuActiveText:#409EFF; // 当前活动菜单的文本颜色
$subMenuActiveText:#f4f4f5; // 子菜单项激活时的文本颜色

$menuBg:#304156; // 侧边栏的背景色
$menuHover:#263445; // 侧边栏菜单项在悬停时的背景色

$subMenuBg:#1f2d3d; // 子菜单的背景色
$subMenuHover:#001528; // 子菜单项在悬停时的背景色

$sideBarWidth: 205px; // 侧边栏的宽度

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
