<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.PermissionMapper">
    <sql id="BaseVoColumn">
        ID, PID, PERM_NAME, ICON, SORT, PERM_CODE, PERM_TYPE, PERM_LEVEL,
        ROUTER_PATH, COMPONENT_NAME, COMPONENT_PATH, ENABLED, I_FRAME, `CACHE`, HIDDEN,
        CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
    </sql>

    <update id="updatePermission">
        UPDATE permission SET
            PID = #{pid}, PERM_NAME = #{permName}, PERM_CODE = #{permCode}, PERM_LEVEL = #{permLevel},
            COMPONENT_NAME = #{componentName}, COMPONENT_PATH = #{componentPath}, ROUTER_PATH = #{routerPath},
            <if test="icon != null and icon != ''">
                ICON = #{icon},
            </if>
            SORT = #{sort}, `CACHE` = #{cache}, HIDDEN = #{hidden}, ENABLED = #{enabled}
        WHERE ID = #{id}
    </update>

    <select id="selectPermList" resultType="com.github.stazxr.zblog.base.domain.vo.PermissionVo">
        SELECT <include refid="BaseVoColumn" />
        FROM permission
        WHERE DELETED = 0
        <if test="blurry != null and blurry != ''">
            <bind name="blurryBind" value="'%' + blurry + '%'"/>
            AND (
                PERM_NAME LIKE #{blurryBind} OR PERM_CODE LIKE #{blurryBind} OR
                COMPONENT_NAME LIKE #{blurryBind} OR COMPONENT_PATH LIKE #{blurryBind}
            )
        </if>
        <if test="enabled != null">
            AND ENABLED = #{enabled}
        </if>
        <if test="iFrame != null">
            AND I_FRAME = #{iFrame}
        </if>
        <if test="onlyShowMenu != null and onlyShowMenu == true">
            AND PERM_TYPE != 3
        </if>
        ORDER BY SORT, PERM_NAME
    </select>

    <select id="selectPermDetail" resultType="com.github.stazxr.zblog.base.domain.vo.PermissionVo">
        SELECT <include refid="BaseVoColumn" />
        FROM permission
        WHERE DELETED = 0 AND ID = #{permId}
    </select>

    <select id="selectPermCodes" resultType="com.github.stazxr.zblog.base.domain.vo.PermCodeVo">
        SELECT
            r.NAME, r.CODE value, r.DEFAULT_LEVEL permLevel,
            (SELECT IF(COUNT(1) > 0, true, false) FROM permission WHERE PERM_CODE = r.CODE) DISABLED
        FROM router r
        <where>
            <if test="searchKey != null and searchKey != ''">
                <bind name="searchKeyBind" value="'%' + searchKey + '%'"/>
                r.NAME LIKE #{searchKeyBind} OR r.CODE LIKE #{searchKeyBind}
            </if>
        </where>
        ORDER BY r.NAME
    </select>

    <select id="selectAllMenu" resultType="com.github.stazxr.zblog.base.domain.entity.Permission">
        SELECT * FROM permission WHERE DELETED = 0 AND PERM_TYPE != 3 ORDER BY SORT, PERM_NAME
    </select>

    <select id="selectMenuByUserId" resultType="com.github.stazxr.zblog.base.domain.entity.Permission">
        SELECT * FROM permission WHERE DELETED = 0 AND PERM_TYPE != 3 AND ENABLED = 1 AND (
            PERM_LEVEL IN (1, 2) OR (
                PERM_LEVEL = 3 AND ID IN (
                    SELECT PERM_ID FROM role_permission_relation WHERE ROLE_ID IN (
                        SELECT ID FROM role WHERE DELETED = 0 AND ENABLED = 1 AND ID IN (
                            SELECT ROLE_ID FROM user_role_relation WHERE USER_ID = #{userId}
                        )
                    )
                )
            )
        ) ORDER BY SORT, PERM_NAME
    </select>

    <select id="selectByPermName" resultType="com.github.stazxr.zblog.base.domain.entity.Permission">
        SELECT * FROM permission WHERE PERM_NAME = #{permName} AND DELETED = 0
    </select>

    <select id="selectByComponentName" resultType="com.github.stazxr.zblog.base.domain.entity.Permission">
        SELECT * FROM permission WHERE COMPONENT_NAME = #{componentName} AND DELETED = 0
    </select>

    <select id="selectUserPerms" resultType="java.lang.String">
        SELECT PERM_CODE FROM permission WHERE DELETED = 0 AND ENABLED = 1 AND PERM_CODE IS NOT NULL AND (
            PERM_LEVEL != 3 OR ID IN (
                SELECT PERM_ID FROM role_permission_relation WHERE ROLE_ID IN (
                    SELECT ID FROM role WHERE DELETED = 0 AND ENABLED = 1 AND ID IN (
                        SELECT ROLE_ID FROM user_role_relation WHERE USER_ID = #{userId}
                    )
                )
            )
        )
        UNION ALL
        SELECT CODE FROM router WHERE DEFAULT_LEVEL != 3 AND CODE NOT IN (
            SELECT PERM_CODE FROM permission WHERE DELETED = 0 AND PERM_CODE IS NOT NULL
        )
    </select>
</mapper>
