@font-face {
  font-family: "iconfont"; /* Project id 1531054 */
  src: url('iconfont.eot?t=1642953623912'); /* IE9 */
  src: url('iconfont.eot?t=1642953623912#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1642953623912') format('woff2'),
       url('iconfont.woff?t=1642953623912') format('woff'),
       url('iconfont.ttf?t=1642953623912') format('truetype'),
       url('iconfont.svg?t=1642953623912#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfontdongtaidianji:before {
  content: "\e62f";
}

.zhiding:before {
  content: "\e64a";
}

.pinglun:before {
  content: "\e63a";
}

.biaoqing:before {
  content: "\e644";
}

.tupian:before {
  content: "\e691";
}

.fabusekuai:before {
  content: "\ec46";
}

.gongkai:before {
  content: "\e6a9";
}

.caogaoxiang:before {
  content: "\e726";
}

.yemianpeizhi:before {
  content: "\e61f";
}

.jiekouguanli:before {
  content: "\e624";
}

.daohanglantubiao_quanxianguanli:before {
  content: "\e604";
}

.huishouzhan:before {
  content: "\e7f2";
}

.zhaopian:before {
  content: "\e623";
}

.Files-59:before {
  content: "\e7f3";
}

.image-fill:before {
  content: "\eb61";
}

.jiaoseliebiao:before {
  content: "\e610";
}

.caozuorizhi:before {
  content: "\e7e8";
}

.caidan:before {
  content: "\e60e";
}

.fabiaowenzhang:before {
  content: "\e69e";
}

.wenzhangliebiao:before {
  content: "\e62c";
}

.yonghuliebiao:before {
  content: "\e613";
}

.xiaoxi:before {
  content: "\e60d";
}

.liuyan:before {
  content: "\e606";
}

.fenlei:before {
  content: "\e86c";
}

.shouye:before {
  content: "\e61e";
}

.wendang:before {
  content: "\e622";
}

.xitong:before {
  content: "\e600";
}

.pinglunzu:before {
  content: "\e765";
}

.shezhi:before {
  content: "\e654";
}

.dashujukeshihuaico:before {
  content: "\e7ff";
}

.icontag:before {
  content: "\e61d";
}

.liebiao:before {
  content: "\e645";
}

.user:before {
  content: "\e607";
}

.fangwenliang:before {
  content: "\e676";
}

.mima:before {
  content: "\e62e";
}

.tuichu:before {
  content: "\e6c2";
}

.icwindowzoom48px:before {
  content: "\e603";
}

.dianzan:before {
  content: "\e60c";
}

.wenzhang-copy:before {
  content: "\e643";
}

.guanyuwo:before {
  content: "\e62b";
}

