@font-face {
  font-family: "iconfont"; /* Project id 5231665 */
  src: url('iconfont.woff2?t=1788873288271') format('woff2'),
       url('iconfont.woff?t=1788873288271') format('woff'),
       url('iconfont.ttf?t=1788873288271') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqing:before {
  content: "\e600";
}

.icon-huifu:before {
  content: "\e7ac";
}

.icon-icon:before {
  content: "\e651";
}

.icon-xiangxia:before {
  content: "\e608";
}

.icon-liuyan:before {
  content: "\e60c";
}

.icon-tianjiatupian_huaban:before {
  content: "\e62c";
}

.icon-zhaopian:before {
  content: "\e609";
}

.icon-xingzhuangjiehe1:before {
  content: "\e601";
}

.icon-biaoqing1:before {
  content: "\e6d8";
}

.icon-arrow-down-double-fill:before {
  content: "\e743";
}

