@font-face {
  font-family: "iconfont"; /* Project id 5231665 */
  src: url('iconfont.woff2?t=1789153735525') format('woff2'),
       url('iconfont.woff?t=1789153735525') format('woff'),
       url('iconfont.ttf?t=1789153735525') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia2:before {
  content: "\e636";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-guanbi:before {
  content: "\e630";
}

.icon-dianzan:before {
  content: "\ec8c";
}

.icon-biaoqing:before {
  content: "\e600";
}

.icon-commenttitle:before {
  content: "\e60c";
}

.icon-imageupload:before {
  content: "\e62c";
}

