<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.mapper.CommentLikeMapper">
    <delete id="deleteLike">
        DELETE FROM comment_like WHERE USER_ID = #{userId} AND COMMENT_ID = #{commentId}
    </delete>

    <select id="isLiked" resultType="java.lang.Boolean">
        SELECT COUNT(1) FROM comment_like WHERE USER_ID = #{userId} AND COMMENT_ID = #{commentId}
    </select>
</mapper>
