<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.DictMapper">
    <select id="selectDictList" resultType="com.github.stazxr.zblog.base.domain.vo.DictVo">
        SELECT
            ID, DICT_NAME, DICT_TYPE, DICT_KEY, DICT_VALUE, DICT_SORT, DICT_DESC, ENABLED,
            (SELECT COUNT(1) FROM dict WHERE PID = d.ID AND DELETED = 0) subCount
        FROM dict d
        WHERE DELETED = 0 AND DICT_TYPE = 1
        <if test="dictName != null and dictName != ''">
            <bind name="dictNameBind" value="'%' + dictName + '%'"/>
            AND d.DICT_NAME LIKE #{dictNameBind}
        </if>
        ORDER BY DICT_SORT, DICT_NAME
    </select>

    <select id="selectChildList" resultType="com.github.stazxr.zblog.base.domain.vo.DictVo">
        SELECT
            ID, PID, DICT_NAME, DICT_TYPE, DICT_KEY, DICT_VALUE, DICT_SORT, DICT_DESC, ENABLED,
            CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
        FROM dict d
        WHERE DELETED = 0 AND DICT_TYPE = 2 AND PID = #{pid} ORDER BY DICT_SORT
    </select>

    <select id="selectDictDetail" resultType="com.github.stazxr.zblog.base.domain.vo.DictVo">
        SELECT
            ID, PID, DICT_NAME, DICT_TYPE, DICT_KEY, DICT_VALUE, DICT_SORT, DICT_DESC, ENABLED,
            CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME,
            (SELECT COUNT(1) FROM dict WHERE PID = d.ID AND DELETED = 0) subCount,
            (SELECT USERNAME FROM user u WHERE u.ID = u.CREATE_USER) AS CREATE_USERNAME,
            (SELECT USERNAME FROM user u WHERE u.ID = u.UPDATE_USER) AS UPDATE_USERNAME
        FROM dict d WHERE DELETED = 0 AND ID = #{dictId}
    </select>

    <select id="selectNameValuesByDictKey" resultType="com.github.stazxr.zblog.base.domain.bo.NameValue">
        SELECT
            DICT_NAME AS NAME, DICT_VALUE AS VALUE
        FROM dict
        WHERE DICT_KEY = #{dictKey} AND DICT_TYPE = 2 AND ENABLED = 1 AND DELETED = 0
        ORDER BY DICT_SORT
    </select>

    <select id="selectDictValueByDictKey" resultType="java.lang.String">
        SELECT VALUE FROM dict WHERE DICT_KEY = #{dictKey} AND DICT_TYPE = 2 AND ENABLED = 1 AND DELETED = 0
    </select>
</mapper>
