<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.InterfaceMapper">
    <delete id="clearInterface">
        DELETE FROM interface WHERE ID > 0
    </delete>

    <select id="selectCodeByUriAndMethod" resultType="java.lang.String">
        SELECT DISTINCT CODE FROM interface WHERE CODE IS NOT NULL AND URI = #{uri} AND METHOD IN (#{method}, '*')
    </select>

    <select id="selectPermInterfaces" resultType="com.github.stazxr.zblog.base.domain.vo.InterfaceVo">
        SELECT
            RESOURCE_CODE, RESOURCE_URI, RESOURCE_METHOD, RESOURCE_LEVEL
        FROM
            resource
        <where>
            <if test="permId != null and permId != ''">
                AND CODE IN (
                    SELECT PERM_CODE FROM permission WHERE ID = #{permId}
                )
            </if>
        </where>
    </select>

    <select id="selectInterfacesByCode" resultType="com.github.stazxr.zblog.base.domain.vo.InterfaceVo">
        SELECT
            CODE, URI, METHOD, TYPE, CREATE_TIME
        FROM
            interface
        WHERE
            CODE = #{code}
    </select>
</mapper>
