<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.MenuMapper">
    <select id="selectAllMenu" resultType="com.github.stazxr.zblog.base.domain.entity.Permission">
        SELECT * FROM permission WHERE DELETED = 0 AND PERM_TYPE != 3 ORDER BY SORT, PERM_NAME
    </select>

    <select id="selectMenuByUserId" resultType="com.github.stazxr.zblog.base.domain.entity.Permission">
        SELECT * FROM permission WHERE DELETED = 0 AND ENABLED = 1 AND PERM_TYPE != 3 AND (
            PERM_LEVEL IN (1, 2) OR (
                PERM_LEVEL = 4 AND ID IN (
                    SELECT PERM_ID FROM role_permission_relation WHERE ROLE_ID IN (
                        SELECT ID FROM role WHERE DELETED = 0 AND ENABLED = 1 AND ID IN (
                            SELECT ROLE_ID FROM user_role_relation WHERE USER_ID = #{userId}
                        )
                    )
                )
            )
        ) ORDER BY SORT, PERM_NAME
    </select>
</mapper>
