<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.PermissionMapper">
    <select id="selectPermList" resultType="com.github.stazxr.zblog.base.domain.vo.PermissionVo">
        SELECT
            p.ID, p.PID, p.PERM_NAME, p.PERM_CODE, p.PERM_TYPE, p.PERM_LEVEL,
            p.COMPONENT_NAME, p.COMPONENT_PATH, p.ROUTER_PATH,
            p.ICON, p.SORT, p.CACHEABLE, p.HIDDEN, p.ENABLED
        FROM permission p WHERE p.DELETED = 0
        <if test="blurry != null and blurry != ''">
            <bind name="blurryBind" value="'%' + blurry + '%'"/>
            AND (
                p.PERM_NAME LIKE #{blurryBind} OR p.PERM_CODE LIKE #{blurryBind} OR
                p.COMPONENT_NAME LIKE #{blurryBind} OR p.COMPONENT_PATH LIKE #{blurryBind}
            )
        </if>
        <if test="enabled != null">
            AND p.ENABLED = #{enabled}
        </if>
        <if test="onlyShowMenu != null and onlyShowMenu == true">
            AND p.PERM_TYPE IN (1, 2)
        </if>
        ORDER BY p.SORT, p.PERM_NAME
    </select>

    <select id="selectPermDetail" resultType="com.github.stazxr.zblog.base.domain.vo.PermissionVo">
        SELECT
            p.ID, p.PID, p.PERM_NAME, p.PERM_CODE, p.PERM_TYPE, p.PERM_LEVEL,
            p.COMPONENT_NAME, p.COMPONENT_PATH, p.ROUTER_PATH, p.ICON, p.SORT,
            p.CACHEABLE, p.HIDDEN, p.ENABLED, p.CREATE_TIME, p.UPDATE_TIME,
        (SELECT USERNAME FROM user u WHERE u.ID = p.CREATE_USER) AS CREATE_USERNAME,
        (SELECT USERNAME FROM user u WHERE u.ID = p.UPDATE_USER) AS UPDATE_USERNAME
        FROM permission p
        WHERE p.DELETED = 0 AND p.ID = #{permId}
    </select>

    <select id="selectPermCodes" resultType="com.github.stazxr.zblog.base.domain.vo.PermCodeVo">
        SELECT
            r.RESOURCE_NAME NAME, r.RESOURCE_CODE value, r.RESOURCE_LEVEL level,
            (SELECT IF(COUNT(1) > 0, true, false) FROM permission p WHERE p.DELETED = 0 AND p.PERM_CODE = r.RESOURCE_CODE) DISABLED
        FROM resource r WHERE r.RESOURCE_CODE IS NOT NULL
        <if test="searchKey != null and searchKey != ''">
            <bind name="searchKeyBind" value="'%' + searchKey + '%'"/>
            AND r.RESOURCE_NAME LIKE #{searchKeyBind} OR r.RESOURCE_CODE LIKE #{searchKeyBind}
        </if>
        ORDER BY r.RESOURCE_NAME
    </select>

    <select id="selectResourceByPermCode" resultType="com.github.stazxr.zblog.bas.router.Resource">
        SELECT * FROM resource WHERE RESOURCE_CODE = #{permCode}
    </select>

    <select id="selectRoleCodesByPermId" resultType="java.lang.String">
        SELECT DISTINCT ROLE_CODE FROM role WHERE DELETED = 0 AND ID IN (
            SELECT ROLE_ID FROM role_permission_relation WHERE DELETED = 0 AND PERM_ID = #{permId}
        )
    </select>

    <select id="selectUserIdsByPermId" resultType="java.lang.Long">
        SELECT USER_ID FROM user_role_relation WHERE ROLE_ID IN (
            SELECT ROLE_ID FROM role_permission_relation WHERE DELETED = 0 AND PERM_ID = #{permId}
        ) AND DELETED = 0
    </select>
</mapper>
