<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.RoleMapper">
    <select id="selectResourceRoles" resultType="java.lang.String">
        SELECT DISTINCT ROLE_CODE FROM role WHERE ID IN (
            SELECT ROLE_ID FROM role_permission_relation WHERE DELETED = 0 AND PERM_ID IN (
                SELECT ID FROM permission p WHERE p.DELETED = 0 AND p.PERM_CODE IN (
                    SELECT RESOURCE_CODE FROM resource WHERE RESOURCE_CODE IS NOT NULL
                    AND RESOURCE_URI = #{requestUri} AND RESOURCE_METHOD = #{requestMethod}
                )
            )
        )
    </select>

    <select id="selectRoleList" resultType="com.github.stazxr.zblog.base.domain.vo.RoleVo">
        SELECT
            r.ID, r.ROLE_NAME, r.ROLE_CODE, r.ROLE_DESC, r.ENABLED, r.CREATE_TIME, r.UPDATE_TIME,
            (SELECT USERNAME FROM user u WHERE u.ID = r.CREATE_USER) AS CREATE_USERNAME,
            (SELECT USERNAME FROM user u WHERE u.ID = r.UPDATE_USER) AS UPDATE_USERNAME
        FROM role r
        WHERE DELETED = '0'
        <if test="query.roleName != null and query.roleName != ''">
            <bind name="roleNameBind" value="'%' + query.roleName + '%'"/>
            AND ROLE_NAME LIKE #{roleNameBind}
        </if>
        <if test="query.roleCode != null and query.roleCode != ''">
            <bind name="roleCodeBind" value="'%' + query.roleCode + '%'"/>
            AND ROLE_CODE LIKE #{roleCodeBind}
        </if>
        <if test="query.enabled != null">
            AND ENABLED = #{query.enabled}
        </if>
        ORDER BY CREATE_TIME
    </select>

    <select id="selectRoleDetail" resultType="com.github.stazxr.zblog.base.domain.vo.RoleVo">
        SELECT
            r.ID, r.ROLE_NAME, r.ROLE_CODE, r.ROLE_DESC, r.ENABLED, r.CREATE_TIME, r.UPDATE_TIME,
            (SELECT USERNAME FROM user u WHERE u.ID = r.CREATE_USER) AS CREATE_USERNAME,
            (SELECT USERNAME FROM user u WHERE u.ID = r.UPDATE_USER) AS UPDATE_USERNAME
        FROM role r
        WHERE r.DELETED = 0 AND r.ID = #{roleId}
    </select>
</mapper>
