<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.UserMapper">
    <resultMap id="userVoListMap" type="com.github.stazxr.zblog.base.domain.vo.UserVo">
        <result property="id" column="ID" />
        <result property="headImgUrl" column="HEAD_IMG_URL" />
        <result property="username" column="USERNAME" />
        <result property="nickname" column="NICKNAME" />
        <result property="email" column="EMAIL" />
        <result property="userType" column="USER_TYPE" />
        <result property="userStatus" column="USER_STATUS" />
        <result property="gender" column="GENDER" />
        <result property="loginChan" column="LOGIN_CHAN" />
        <result property="loginType" column="LOGIN_TYPE" />
        <result property="loginAddress" column="LOGIN_ADDRESS" />
        <result property="successLoginTime" column="SUCCESS_LOGIN_TIME" />
        <result property="createTime" column="CREATE_TIME" />
        <collection property="roleIds" ofType="Long">
            <result column="ROLE_ID" />
        </collection>
        <!-- <collection property="roleIds" javaType="java.util.ArrayList" ofType="Long" select="selectUserRoleIdList" column="ID" /> -->
    </resultMap>

    <resultMap id="userVoDetailMap" type="com.github.stazxr.zblog.base.domain.vo.UserVo">
        <result property="id" column="ID" />
        <result property="username" column="USERNAME" />
        <result property="userType" column="USER_TYPE" />
        <result property="userStatus" column="USER_STATUS" />
        <result property="expireTime" column="EXPIRE_TIME" />
        <result property="changePasswordTime" column="CHANGE_PASSWORD_TIME" />
        <result property="passwordExpireTime" column="PASSWORD_EXPIRE_TIME" />
        <result property="nickname" column="NICKNAME" />
        <result property="email" column="EMAIL" />
        <result property="gender" column="GENDER" />
        <result property="signature" column="SIGNATURE" />
        <result property="website" column="WEBSITE" />
        <result property="headImgUrl" column="HEAD_IMG_URL" />
        <result property="successLoginTime" column="SUCCESS_LOGIN_TIME" />
        <result property="lockedExpireTime" column="LOCKED_EXPIRE_TIME" />
        <result property="loginChan" column="LOGIN_CHAN" />
        <result property="loginType" column="LOGIN_TYPE" />
        <result property="loginAddress" column="LOGIN_ADDRESS" />
        <result property="userAgent" column="USER_AGENT" />
        <result property="createUsername" column="CREATE_USERNAME" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="updateUsername" column="UPDATE_USERNAME" />
        <result property="updateTime" column="UPDATE_TIME" />
        <collection property="roleIds" ofType="Long">
            <result column="ROLE_ID" />
        </collection>
        <collection property="roleNames" ofType="String">
            <result column="ROLE_NAME" />
        </collection>
    </resultMap>

    <select id="selectUserById" resultType="com.github.stazxr.zblog.base.domain.entity.User">
        SELECT
            u.*, ull.LOGIN_ADDRESS AS LAST_LOGIN_ADDRESS, ull.LOGIN_TIME AS LAST_LOGIN_TIME
        FROM user u
        LEFT JOIN (
            SELECT USER_ID, LOGIN_ADDRESS, LOGIN_TIME FROM user_login_log
            WHERE USER_ID = #{userId} AND IS_SUCCESS = 1 ORDER BY LOGIN_TIME DESC
            LIMIT 1 OFFSET 1
        ) ull ON u.ID = ull.USER_ID
        WHERE u.ID = #{userId} AND u.DELETED = 0
    </select>

    <select id="selectUserByUsername" resultType="com.github.stazxr.zblog.base.domain.entity.User">
        SELECT
            u.*, ull.LOGIN_ADDRESS AS LAST_LOGIN_ADDRESS, ull.LOGIN_TIME AS LAST_LOGIN_TIME
        FROM user u
        LEFT JOIN (
            SELECT USER_ID, LOGIN_ADDRESS, LOGIN_TIME FROM (
                SELECT USER_ID, LOGIN_ADDRESS, LOGIN_TIME,
                ROW_NUMBER() OVER (PARTITION BY USER_ID ORDER BY LOGIN_TIME DESC) AS rn
                FROM user_login_log
                WHERE IS_SUCCESS = 1
            ) t WHERE rn = 2 -- 第二条成功登录记录，即上一次登录
        ) ull ON u.ID = ull.USER_ID
        WHERE u.USERNAME = #{username} AND u.DELETED = 0
    </select>

    <select id="selectRolesByUserId" resultType="com.github.stazxr.zblog.base.domain.entity.Role">
        SELECT * FROM role WHERE DELETED = 0 AND ID IN (
            SELECT ROLE_ID FROM user_role_relation WHERE USER_ID = #{userId} AND DELETED = 0
        )
    </select>

    <select id="selectAllMd5PermCodes" resultType="java.lang.String">
        SELECT DISTINCT MD5(RESOURCE_CODE) FROM resource WHERE RESOURCE_CODE IS NOT NULL
    </select>

    <select id="selectMd5PermCodesByUserId" resultType="java.lang.String">
        SELECT MD5(PERM_CODE) FROM permission WHERE DELETED = 0 AND ENABLED = 1 AND PERM_CODE IS NOT NULL AND (
            PERM_LEVEL IN (1, 2) OR ID IN (
                SELECT PERM_ID FROM role_permission_relation WHERE ROLE_ID IN (
                    SELECT ID FROM role WHERE DELETED = 0 AND ENABLED = 1 AND ID IN (
                        SELECT ROLE_ID FROM user_role_relation WHERE USER_ID = #{userId} AND DELETED = 0
                    )
                )
            )
        )
        UNION ALL
        SELECT DISTINCT MD5(RESOURCE_CODE) FROM resource WHERE RESOURCE_LEVEL IN (1, 2) AND RESOURCE_CODE NOT IN (
            SELECT PERM_CODE FROM permission WHERE DELETED = 0 AND PERM_CODE IS NOT NULL
        )
    </select>

    <update id="updateLoginInfoWhenSuccess">
        UPDATE user SET
            SUCCESS_LOGIN_TIME = #{loginTime}, LOGIN_ERROR_COUNT = 0, LOCKED_EXPIRE_TIME = NULL, USER_STATUS = 0
        WHERE ID = #{userId}
    </update>

    <update id="updateLoginInfoWhenFailed">
        UPDATE user
        <set>
            LOGIN_ERROR_COUNT = LOGIN_ERROR_COUNT + 1
            <if test="maxFailCount >= 0">
                , USER_STATUS = CASE WHEN LOGIN_ERROR_COUNT + 1 >= #{maxFailCount} THEN 2 ELSE USER_STATUS END,
                LOCKED_EXPIRE_TIME = CASE WHEN LOGIN_ERROR_COUNT + 1 >= #{maxFailCount} THEN #{lockedExpireTime} ELSE LOCKED_EXPIRE_TIME END
            </if>
        </set>
        WHERE ID = #{userId}
        <if test="maxFailCount >= 0">
            AND USER_STATUS != 2
        </if>
    </update>

    <select id="selectUserList" resultMap="userVoListMap">
        SELECT
            u.ID, u.HEAD_IMG_URL, u.USERNAME, u.NICKNAME, u.EMAIL, u.USER_TYPE, u.USER_STATUS, u.GENDER,
            DATE_FORMAT(u.SUCCESS_LOGIN_TIME, '%Y-%m-%d %H:%i:%s') AS SUCCESS_LOGIN_TIME, u.CREATE_TIME,
            ull.LOGIN_TYPE, ull.LOGIN_CHAN, ull.LOGIN_ADDRESS, ur.ROLE_ID
        FROM user u
        LEFT JOIN user_login_log ull ON ull.USER_ID = u.ID AND ull.LOGIN_TIME = u.SUCCESS_LOGIN_TIME AND ull.IS_SUCCESS = 1
        LEFT JOIN (
            SELECT USER_ID, ROLE_ID FROM user_role_relation WHERE DELETED = 0
        ) ur ON ur.USER_ID = u.ID
        WHERE u.DELETED = 0
        <if test="username != null and username != ''">
            <bind name="usernameBind" value="'%' + username + '%'"/>
            AND u.USERNAME LIKE #{usernameBind}
        </if>
        <if test="nickname != null and nickname != ''">
            <bind name="nicknameBind" value="'%' + nickname + '%'"/>
            AND u.NICKNAME LIKE #{nicknameBind}
        </if>
        <if test="email != null and email != ''">
            <bind name="emailBind" value="'%' + email + '%'"/>
            AND u.EMAIL LIKE #{emailBind}
        </if>
        <if test="userType != null">
            AND u.USER_TYPE = #{userType}
        </if>
        <if test="userStatus != null">
            AND u.USER_STATUS = #{userStatus}
        </if>
        <if test="loginChan != null and loginChan != ''">
            AND ull.LOGIN_CHAN = #{loginChan}
        </if>
        <if test="loginType != null and loginType != ''">
            AND ull.LOGIN_TYPE = #{loginType}
        </if>
        <if test="loginAddress != null and loginAddress != ''">
            <bind name="loginAddressBind" value="'%' + loginAddress + '%'"/>
            AND ull.LOGIN_ADDRESS LIKE #{loginAddressBind}
        </if>
        <if test="roleId != null">
            AND u.ID IN (SELECT USER_ID FROM user_role_relation WHERE ROLE_ID = #{roleId} AND DELETED = 0)
        </if>
        ORDER BY u.SUCCESS_LOGIN_TIME DESC
    </select>

    <select id="selectUserDetail" resultMap="userVoDetailMap">
        SELECT
            u.ID, u.USERNAME, u.USER_TYPE, u.USER_STATUS, u.NICKNAME,
            u.EMAIL, u.GENDER, u.SIGNATURE, u.WEBSITE, u.HEAD_IMG_URL,
            ur.ROLE_ID, r.ROLE_NAME, u.CREATE_TIME, u.UPDATE_TIME,
            ull.LOGIN_TYPE, ull.LOGIN_CHAN, ull.LOGIN_ADDRESS, ull.USER_AGENT,
            DATE_FORMAT(u.EXPIRE_TIME, '%Y-%m-%d %H:%i:%s') AS EXPIRE_TIME,
            DATE_FORMAT(u.CHANGE_PASSWORD_TIME, '%Y-%m-%d %H:%i:%s') AS CHANGE_PASSWORD_TIME,
            DATE_FORMAT(u.PASSWORD_EXPIRE_TIME, '%Y-%m-%d %H:%i:%s') AS PASSWORD_EXPIRE_TIME,
            DATE_FORMAT(u.LOCKED_EXPIRE_TIME, '%Y-%m-%d %H:%i:%s') AS LOCKED_EXPIRE_TIME,
            DATE_FORMAT(u.SUCCESS_LOGIN_TIME, '%Y-%m-%d %H:%i:%s') AS SUCCESS_LOGIN_TIME,
            (SELECT USERNAME FROM user u WHERE u.ID = u.CREATE_USER) AS CREATE_USERNAME,
            (SELECT USERNAME FROM user u WHERE u.ID = u.UPDATE_USER) AS UPDATE_USERNAME
        FROM user u
        LEFT JOIN user_login_log ull ON ull.USER_ID = u.ID AND ull.LOGIN_TIME = u.SUCCESS_LOGIN_TIME AND ull.IS_SUCCESS = 1
        LEFT JOIN (
            SELECT USER_ID, ROLE_ID FROM user_role_relation WHERE DELETED = 0
        ) ur ON ur.USER_ID = u.ID
        LEFT JOIN role r ON r.ID = ur.ROLE_ID
        WHERE u.ID = #{userId}
    </select>

    <!-- <select id="selectUserRoleIdList" resultType="java.lang.Long">
        SELECT urr.ROLE_ID FROM user_role_relation urr WHERE urr.USER_ID = #{ID} AND urr.DELETED = 0
    </select> -->

    <select id="selectUserLogList" resultType="com.github.stazxr.zblog.log.domain.vo.LogVo">
        SELECT
            ID, DATE_FORMAT(EVENT_TIME, '%Y-%m-%d %H:%i:%s') AS EVENT_TIME, `DESCRIPTION`, ADDRESS, EXEC_RESULT, EXEC_MESSAGE
        FROM log
        WHERE OPERATE_USER = #{username} AND LOG_TYPE = 2
        <if test="description != null and description != ''">
            <bind name="descriptionBind" value="'%' + description + '%'"/>
            AND `DESCRIPTION` LIKE #{descriptionBind}
        </if>
        <if test="execResult != null">
            AND EXEC_RESULT = #{execResult}
        </if>
        <if test="eventStartTime != null and eventStartTime != ''">
            AND EVENT_TIME &gt;= STR_TO_DATE(#{eventStartTime}, '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="eventEndTime != null and eventEndTime != ''">
            AND EVENT_TIME &lt;= STR_TO_DATE(#{eventEndTime}, '%Y-%m-%d %H:%i:%s')
        </if>
        ORDER BY EVENT_TIME DESC
    </select>

    <update id="updateUserStatus">
        UPDATE user SET USER_STATUS = #{status} WHERE ID = #{userId}
    </update>

    <update id="updateUserPassword">
        UPDATE user SET
            PASSWORD = #{password}, CHANGE_PASSWORD_TIME = #{changePasswordTime}, PASSWORD_EXPIRE_TIME = #{passwordExpireTime}
        WHERE ID = #{userId}
    </update>

    <update id="updateUserHeadImg">
        UPDATE user SET HEAD_IMG_URL = #{headImg} WHERE ID = #{userId}
    </update>

    <update id="updateUserEmail">
        UPDATE user SET EMAIL = #{email} WHERE ID = #{userId}
    </update>

    <update id="updateUserSelf">
        UPDATE user SET
            NICKNAME = #{u.nickname}, GENDER = #{u.gender}, WEBSITE = #{u.website}, SIGNATURE = #{u.signature},
            UPDATE_USER = #{updateUser}, UPDATE_TIME = #{updateTime}
        WHERE ID = #{u.userId}
    </update>
</mapper>
