<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.base.mapper.VersionMapper">
    <select id="selectVersionList" resultType="com.github.stazxr.zblog.base.domain.vo.VersionVo">
        SELECT
            ID, VERSION_NAME, UPDATE_CONTENT, SORT, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME,
            (SELECT USERNAME FROM user u WHERE u.ID = v.CREATE_USER) AS CREATE_USERNAME,
            (SELECT USERNAME FROM user u WHERE u.ID = v.UPDATE_USER) AS UPDATE_USERNAME
        FROM version v
        <where>
            <if test="query.versionName != null and query.versionName != ''">
                <bind name="versionNameBind" value="'%' + query.versionName + '%'"/>
                VERSION_NAME LIKE #{versionNameBind}
            </if>
            <if test="query.updateContent != null and query.updateContent != ''">
                <bind name="updateContentBind" value="'%' + query.updateContent + '%'"/>
                UPDATE_CONTENT LIKE #{updateContentBind}
            </if>
        </where>
        ORDER BY SORT DESC
    </select>

    <select id="selectVersionDetail" resultType="com.github.stazxr.zblog.base.domain.vo.VersionVo">
        SELECT
            ID, VERSION_NAME, UPDATE_CONTENT, SORT, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME,
            (SELECT USERNAME FROM user u WHERE u.ID = v.CREATE_USER) AS CREATE_USERNAME,
            (SELECT USERNAME FROM user u WHERE u.ID = v.UPDATE_USER) AS UPDATE_USERNAME
        FROM version v WHERE ID = #{versionId}
    </select>
</mapper>
