<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.content.ext.mapper.FriendLinkStatMapper">
    <insert id="incrementClickCount">
        INSERT INTO friend_link_stat (
            LINK_ID, CLICK_COUNT, DAY_CLICK, WEEK_CLICK, MONTH_CLICK, LAST_CLICK_TIME
        ) VALUES (
            #{friendLinkId}, 1, 1, 1, 1, NOW()
        ) ON DUPLICATE KEY
        UPDATE
            CLICK_COUNT = CLICK_COUNT + 1,
            DAY_CLICK = DAY_CLICK + 1,
            WEEK_CLICK = WEEK_CLICK + 1,
            MONTH_CLICK = MONTH_CLICK + 1,
            LAST_CLICK_TIME = NOW()
    </insert>

    <update id="resetDayClick">
        UPDATE friend_link_stat SET DAY_CLICK = 0 WHERE DAY_CLICK != 0
    </update>

    <update id="resetWeekClick">
        UPDATE friend_link_stat SET WEEK_CLICK = 0 WHERE WEEK_CLICK != 0
    </update>

    <update id="resetMonthClick">
        UPDATE friend_link_stat SET MONTH_CLICK = 0 WHERE MONTH_CLICK != 0
    </update>
</mapper>
