<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.content.ext.mapper.ThemePageMapper">
    <select id="selectThemePage" resultType="com.github.stazxr.zblog.content.ext.domain.vo.ThemePageVo">
        SELECT
            tp.ID, tp.THEME_ID, tp.PAGE_ID, p.PAGE_NAME, p.PAGE_LABEL, tp.PAGE_COVER
        FROM page p
        LEFT JOIN theme_page tp on p.ID = tp.PAGE_ID
        WHERE tp.THEME_ID = #{themeId}
        ORDER BY p.PAGE_SORT
    </select>

    <select id="deleteByThemeId">

    </select>
</mapper>
