<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.content.ext.mapper.VisitorLogMapper">
    <select id="selectVisitorLogList" resultType="com.github.stazxr.zblog.content.ext.domain.vo.VisitorLogVo">
        SELECT
            vl.ID, vl.VISITOR_ID, vp.NICKNAME AS visitorNickname, vp.AVATAR AS visitorAvatar,
            vl.PATH, vl.TITLE, vl.REFERER, vl.TYPE,
            vl.IP, CONCAT(vl.COUNTRY, vl.PROVINCE, vl.CITY, vl.DISTRICT) AS ipRegion, vl.ISP,
            CONCAT(vl.BROWSER, vl.BROWSER_VERSION) AS BROWSER, vl.DEVICE_TYPE, vl.VISIT_TIME
        FROM visitor_log vl
        LEFT JOIN visitor_profile vp ON vp.VISITOR_ID = vl.VISITOR_ID
        <where>
            <if test="query.visitorId != null and query.visitorId != ''">
                AND vl.VISITOR_ID = #{query.visitorId}
            </if>
            <if test="query.ip != null and query.ip != ''">
                AND vl.IP = #{query.ip}
            </if>
        </where>
        ORDER BY vl.VISIT_TIME DESC
    </select>

    <select id="selectVisitorLogDetail" resultType="com.github.stazxr.zblog.content.ext.domain.vo.VisitorLogVo">
        SELECT
            vl.ID, vl.VISITOR_ID, vp.NICKNAME AS visitorNickname, vp.AVATAR AS visitorAvatar, vl.USER_ID, u.USERNAME,
            vl.PATH, vl.TITLE, vl.REFERER, vl.TYPE,
            vl.IP, vl.COUNTRY, vl.PROVINCE, vl.CITY, vl.DISTRICT, vl.ISP,
            vl.USER_AGENT, vl.BROWSER, vl.BROWSER_VERSION, vl.OS, vl.DEVICE_TYPE,
            vl.VISIT_TIME, vl.CREATE_TIME
        FROM visitor_log vl
        LEFT JOIN visitor_profile vp ON vp.VISITOR_ID = vl.VISITOR_ID
        LEFT JOIN user u ON u.ID = vl.USER_ID
        WHERE vl.ID = #{visitorLogId}
    </select>
</mapper>
