<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.content.ext.mapper.WebsiteLinkConfigMapper">
    <select id="selectWebsiteLinkList" resultType="com.github.stazxr.zblog.content.ext.domain.vo.WebsiteLinkConfigVo">
        SELECT
            ID, LINK_NAME, LINK_TYPE, LINK_URL, LINK_ICON, SORT, ENABLED, CREATE_TIME, UPDATE_TIME
        FROM website_link_config
        <where>
            <if test="query.linkName != null and query.linkName != ''">
                <bind name="linkNameBind" value="'%' + query.linkName + '%'"/>
                AND LINK_NAME LIKE #{linkNameBind}
            </if>
            <if test="query.linkType != null and query.linkType != ''">
                AND LINK_TYPE = #{query.linkType}
            </if>
            <if test="query.enabled != null and query.enabled != ''">
                AND ENABLED = #{query.enabled}
            </if>
        </where>
        ORDER BY SORT
    </select>

    <select id="selectWebsiteLinkDetail" resultType="com.github.stazxr.zblog.content.ext.domain.vo.WebsiteLinkConfigVo">
        SELECT
            ID, LINK_NAME, LINK_TYPE, LINK_URL, LINK_ICON, SORT, ENABLED, CREATE_TIME, UPDATE_TIME
        FROM website_link_config
        WHERE ID = #{websiteLinkId}
    </select>
    <select id="selectPortalWebsiteLinks" resultType="com.github.stazxr.zblog.content.ext.domain.vo.WebsiteLinkConfigVo">
        SELECT LINK_TYPE, LINK_URL FROM website_link_config
        WHERE ENABLED = 1 AND NULLIF(TRIM(LINK_URL), '') IS NOT NULL
        ORDER BY SORT
    </select>
</mapper>
