<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.log.mapper.LogMapper">
    <select id="selectLogList" resultType="com.github.stazxr.zblog.log.domain.vo.LogVo">
        SELECT
            ID, TRACE_ID, LOG_TYPE, OPERATE_USER, DATE_FORMAT(EVENT_TIME, '%Y-%m-%d %H:%i:%s') AS EVENT_TIME, `DESCRIPTION`,
            REQUEST_PARAM, INTERFACE_CODE, REQUEST_IP, REQUEST_URI, REQUEST_METHOD,
            ADDRESS, BROWSER, BROWSER_VERSION, PLATFORM,
            COST_TIME, EXEC_RESULT, EXEC_MESSAGE, ERROR_CODE,
            DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') AS CREATE_DATE
        FROM log
        WHERE LOG_TYPE = #{query.logType}
        <if test="query.description != null and query.description != ''">
            <bind name="descriptionBind" value="'%' + query.description + '%'"/>
            AND `DESCRIPTION` LIKE #{descriptionBind}
        </if>
        <if test="query.interfaceCode != null and query.interfaceCode != ''">
            AND INTERFACE_CODE = #{query.interfaceCode}
        </if>
        <if test="query.traceId != null and query.traceId != ''">
            AND TRACE_ID = #{query.traceId}
        </if>
        <if test="query.username != null and query.username != ''">
            AND OPERATE_USER = #{query.username}
        </if>
        <if test="query.execResult != null">
            AND EXEC_RESULT = #{query.execResult}
        </if>
        <if test="query.costTime != null and query.costTime != ''">
            AND COST_TIME &gt;= #{query.costTime, jdbcType=DOUBLE}
        </if>
        <if test="query.eventStartTime != null">
            AND `EVENT_TIME` <![CDATA[>=]]> #{query.eventStartTime, jdbcType=TIMESTAMP}
        </if>
        <if test="query.eventEndTime != null">
            AND `EVENT_TIME` <![CDATA[<=]]> #{query.eventEndTime, jdbcType=TIMESTAMP}
        </if>
        ORDER BY EVENT_TIME DESC
    </select>

    <select id="selectLogExpDetail" resultType="java.lang.String">
        SELECT EXCEPTION_DETAIL FROM log WHERE ID = #{logId}
    </select>

    <delete id="deleteLog">
        DELETE FROM log WHERE LOG_TYPE = #{logType}
        <if test="description != null and description != ''">
            <bind name="descriptionBind" value="'%' + description + '%'"/>
            AND `DESCRIPTION` LIKE #{descriptionBind}
        </if>
        <if test="interfaceCode != null and interfaceCode != ''">
            AND INTERFACE_CODE = #{interfaceCode}
        </if>
        <if test="traceId != null and traceId != ''">
            AND TRACE_ID = #{traceId}
        </if>
        <if test="username != null and username != ''">
            AND OPERATE_USER = #{username}
        </if>
        <if test="execResult != null">
            AND EXEC_RESULT = #{execResult}
        </if>
        <if test="costTime != null and costTime != ''">
            AND COST_TIME &gt;= #{costTime, jdbcType=DOUBLE}
        </if>
        <if test="eventStartTime != null and eventStartTime != ''">
            AND EVENT_TIME &gt;= STR_TO_DATE(#{eventStartTime}, '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="eventEndTime != null and eventEndTime != ''">
            AND EVENT_TIME &lt;= STR_TO_DATE(#{eventEndTime}, '%Y-%m-%d %H:%i:%s')
        </if>
    </delete>
</mapper>
