<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.mapper.ArticleCategoryMapper">
    <select id="selectCategoryList" resultType="com.github.stazxr.zblog.domain.vo.ArticleCategoryVo">
        SELECT
            c.ID, c.PID, c.NAME, c.IMAGE_URL, c.`DESC`, c.SORT, c.ENABLED,
            IF(c.PID IS NULL, (
                SELECT COUNT(1) FROM article a WHERE a.DELETED = 0 AND a.CATEGORY_ID IN (
                    SELECT c1.ID FROM article_category c1 WHERE c1.PID = c.ID
                )
            ), (
                SELECT COUNT(1) FROM article a WHERE a.DELETED = 0 AND a.CATEGORY_ID = c.ID
            )) AS ARTICLE_COUNT
        FROM article_category c
        WHERE c.DELETED = 0
        <if test="name != null and name != ''">
            <bind name="nameBind" value="'%' + name + '%'"/>
            AND c.NAME LIKE #{nameBind}
        </if>
        <if test="enabled != null">
            AND c.ENABLED = #{enabled}
        </if>
        <if test="firstLevel != null">
            AND c.PID IS NULL
        </if>
        ORDER BY SORT, NAME
    </select>

    <select id="selectCategoryDetail" resultType="com.github.stazxr.zblog.domain.vo.ArticleCategoryVo">
        SELECT
            ID, PID, NAME, IMAGE_URL, `DESC`, SORT, ENABLED,
            CREATE_USER, CREATE_TIME, CREATE_DATE, UPDATE_USER, UPDATE_TIME
        FROM article_category
        WHERE DELETED = 0 AND ID = #{categoryId}
    </select>

    <select id="selectArticleCountByCategory" resultType="java.lang.Long">
        SELECT COUNT(1) FROM article WHERE DELETED = 0 AND CATEGORY_ID = #{categoryId}
    </select>

    <select id="selectByCategoryName" resultType="com.github.stazxr.zblog.domain.entity.ArticleCategory">
        SELECT
            ID, PID, NAME, IMAGE_URL, `DESC`, SORT, ENABLED,
            CREATE_USER, CREATE_TIME, CREATE_DATE, UPDATE_USER, UPDATE_TIME
        FROM article_category
        WHERE DELETED = 0 AND NAME = #{name}
    </select>

    <select id="selectWebCategoryList" resultType="com.github.stazxr.zblog.domain.vo.ArticleCategoryVo">
        SELECT
            ac.ID, ac.NAME, (SELECT COUNT(1) FROM article WHERE DELETED = 0 AND CATEGORY_ID = ac.ID) AS ARTICLE_COUNT
        FROM article_category ac WHERE ac.DELETED = 0 AND ac.ENABLED = 1 AND ac.PID IS NOT NULL AND ac.ID IN (
            SELECT CATEGORY_ID FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
        )
    </select>

    <select id="selectWebBoardCategoryList" resultType="com.github.stazxr.zblog.domain.vo.ArticleCategoryVo">
        SELECT
            ac.ID, ac.PID, ac.NAME, ac.IMAGE_URL,
            IF(ac.PID IS NULL, (
                SELECT COUNT(1) FROM article a WHERE a.DELETED = 0 AND a.CATEGORY_ID IN (
                    SELECT c1.ID FROM article_category c1 WHERE c1.PID = ac.ID
                )
            ), (
               SELECT COUNT(1) FROM article a WHERE a.DELETED = 0 AND a.CATEGORY_ID = ac.ID
           )) AS ARTICLE_COUNT
        FROM article_category ac WHERE ac.ID IN (
            SELECT CATEGORY_ID FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
        ) OR ac.ID IN (
            SELECT PID FROM article_category WHERE ID IN (
                SELECT CATEGORY_ID FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
            )
        )
    </select>
</mapper>
