<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.mapper.ArticleColumnRelationMapper">
    <resultMap id="articleVoWebListMap" type="com.github.stazxr.zblog.domain.vo.ArticleVo">
        <result property="id" column="ID" />
        <result property="title" column="ARTICLE_TITLE" />
        <result property="articleType" column="ARTICLE_TYPE" />
        <result property="categoryId" column="CATEGORY_ID" />
        <result property="categoryName" column="CATEGORY_NAME" />
        <result property="coverImageType" column="COVER_IMAGE_TYPE" />
        <result property="authorNickname" column="AUTHOR_NICKNAME" />
        <result property="authorGender" column="AUTHOR_GENDER" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="updateTime" column="UPDATE_TIME" />
        <collection property="tagList" javaType="java.util.ArrayList" ofType="com.github.stazxr.zblog.domain.vo.ArticleTagVo" select="selectArticleTagList" column="ID" />
        <collection property="articleImg" javaType="java.util.ArrayList" ofType="com.github.stazxr.zblog.base.domain.entity.File" select="selectArticleImgList" column="ID" />
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO article_column_relation (ID, COLUMN_ID, ARTICLE_ID, ARTICLE_TITLE, SORT, VERSION, CREATE_USER, CREATE_TIME, CREATE_DATE) VALUES
        <foreach collection="articles" item="article" index="index" separator=",">
            (#{article.id}, #{article.columnId}, #{article.articleId}, #{article.articleTitle}, #{article.sort}, 1, #{article.createUser}, #{article.createTime}, #{article.createDate})
        </foreach>
    </insert>

    <delete id="deleteByColumnId">
        DELETE FROM article_column_relation WHERE COLUMN_ID = #{columnId}
    </delete>

    <delete id="deleteByArticleId">
        DELETE FROM article_column_relation WHERE ARTICLE_ID = #{articleId}
    </delete>

    <select id="selectArticleCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM article a WHERE a.DELETED = 0 AND a.ID IN (
            SELECT atr.ARTICLE_ID FROM article_column_relation atr WHERE atr.COLUMN_ID = #{columnId}
        )
    </select>

    <select id="selectArticleList" resultType="com.github.stazxr.zblog.domain.vo.ColumnArticleVo">
        SELECT
            acr.ARTICLE_ID, acr.ARTICLE_TITLE, acr.SORT, acr.CREATE_USER, acr.CREATE_TIME, acr.CREATE_DATE,
            CASE
                WHEN a.ID IS NULL THEN '文章不存在'
                WHEN a.DELETED = 1 THEN '文章已被删除'
                WHEN a.ARTICLE_STATUS != 5 THEN '文章未发布'
                WHEN a.ARTICLE_PERM != 1 THEN '文章未公开'
                ELSE ''
            END AS ARTICLE_STATUS
        FROM article_column_relation acr
        LEFT JOIN article a ON a.ID = acr.ARTICLE_ID
        WHERE acr.COLUMN_ID = #{columnId}
        ORDER BY SORT
    </select>

    <select id="selectWebArticleList" resultMap="articleVoWebListMap">
        SELECT
            acr.ARTICLE_ID AS ID, acr.ARTICLE_TITLE, a.ARTICLE_TYPE, a.CATEGORY_ID, c.NAME CATEGORY_NAME,
            a.COVER_IMAGE_TYPE, u.NICKNAME AUTHOR_NICKNAME, u.GENDER AUTHOR_GENDER, a.CREATE_TIME, a.UPDATE_TIME
        FROM article_column_relation acr
        LEFT JOIN article a ON a.ID = acr.ARTICLE_ID
        LEFT JOIN article_category c ON c.ID = a.CATEGORY_ID
        LEFT JOIN user u ON u.ID = a.AUTHOR_ID
        WHERE acr.COLUMN_ID = #{columnId}
        ORDER BY acr.SORT
    </select>

    <select id="selectArticleTagList" resultType="com.github.stazxr.zblog.domain.vo.ArticleTagVo">
        SELECT
            ata.ID, ata.NAME, ata.TYPE
        FROM article_tag_relation atr
        LEFT JOIN article_tag ata ON ata.ID = atr.TAG_ID
        WHERE ata.DELETED = 0 AND atr.ARTICLE_ID = #{ID}
    </select>

    <select id="selectArticleImgList" resultType="com.github.stazxr.zblog.base.domain.entity.File">
        SELECT
            f.ID, f.DOWNLOAD_URL, f.ORIGINAL_FILENAME
        FROM article_img_relation air
        LEFT JOIN file f ON f.ID = air.FILE_ID AND f.DELETED = 0
        WHERE air.ARTICLE_ID = #{ID}
    </select>
</mapper>
