<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.mapper.ArticleTagMapper">
    <select id="selectTagList" resultType="com.github.stazxr.zblog.domain.vo.ArticleTagVo">
        SELECT
            at.ID, at.`NAME`, at.TYPE, at.ENABLED, at.CREATE_USER, at.CREATE_TIME,
            (SELECT COUNT(1) FROM article a WHERE a.DELETED = 0 AND a.ID IN (
                SELECT atr.ARTICLE_ID FROM article_tag_relation atr WHERE atr.TAG_ID = at.ID
            )) ARTICLE_COUNT
        FROM article_tag at
        WHERE DELETED = 0
        <if test="name != null and name != ''">
            <bind name="nameBind" value="'%' + name + '%'"/>
            AND at.`NAME` LIKE #{nameBind}
        </if>
        <if test="createUser != null and createUser != ''">
            <bind name="createUserBind" value="'%' + createUser + '%'"/>
            AND at.CREATE_USER LIKE #{createUserBind}
        </if>
        <if test="enabled != null">
            AND at.ENABLED = #{enabled}
        </if>
        <if test="type != null">
            AND at.TYPE = #{type}
        </if>
        ORDER BY at.`NAME`, at.CREATE_TIME DESC
    </select>

    <select id="selectTagDetail" resultType="com.github.stazxr.zblog.domain.vo.ArticleTagVo">
        SELECT
            ID, NAME, TYPE, ENABLED, CREATE_USER, CREATE_TIME, CREATE_DATE, UPDATE_USER, UPDATE_TIME
        FROM article_tag WHERE DELETED = 0 AND ID = #{tagId}
    </select>

    <select id="selectByTagName" resultType="com.github.stazxr.zblog.domain.entity.ArticleTag">
        SELECT
            ID, NAME, TYPE, ENABLED, CREATE_USER, CREATE_TIME, CREATE_DATE, UPDATE_USER, UPDATE_TIME
        FROM article_tag WHERE DELETED = 0 AND NAME = #{name}
    </select>

    <select id="selectArticleCountByTag" resultType="java.lang.Long">
        SELECT COUNT(1) FROM article WHERE DELETED = 0 AND ID IN (
            SELECT ARTICLE_ID FROM article_tag_relation WHERE TAG_ID = #{tagId}
        )
    </select>

    <select id="selectWebTagList" resultType="com.github.stazxr.zblog.domain.vo.ArticleTagVo">
        SELECT ID, `NAME` FROM article_tag WHERE DELETED = 0 AND ENABLED = 1 AND ID IN (
            SELECT TAG_ID FROM article_tag_relation WHERE ARTICLE_ID IN (
                SELECT ID FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
            )
        )
    </select>

    <select id="queryBoardTagList" resultType="com.github.stazxr.zblog.domain.vo.CloudTagVo">
        SELECT
            at.ID, at.`NAME`, (SELECT COUNT(1) FROM article a WHERE a.DELETED = 0 AND a.ID IN (
                SELECT atr.ARTICLE_ID FROM article_tag_relation atr WHERE atr.TAG_ID = at.ID
            )) AS VALUE
        FROM article_tag at WHERE at.DELETED = 0 AND at.ENABLED = 1 AND at.ID IN (
            SELECT TAG_ID FROM article_tag_relation WHERE ARTICLE_ID IN (
                SELECT ID FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
            )
        )
    </select>
</mapper>
