<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.mapper.PortalMapper">
    <select id="selectBlogWebInfo" resultType="com.github.stazxr.zblog.domain.vo.BlogWebVo">
        SELECT
            (
                SELECT COUNT(1) FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
            ) ARTICLE_COUNT,
            (
                SELECT COUNT(1) FROM article_category WHERE DELETED = 0 AND ENABLED = 1 AND PID IS NOT NULL AND ID IN (
                    SELECT CATEGORY_ID FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
                )
            ) CATEGORY_COUNT,
            (
                SELECT COUNT(1) FROM article_tag WHERE DELETED = 0 AND ENABLED = 1 AND ID IN (
                    SELECT TAG_ID FROM article_tag_relation WHERE ARTICLE_ID IN (
                        SELECT ID FROM article WHERE DELETED = 0 AND ARTICLE_STATUS = 5 AND ARTICLE_PERM = 1
                    )
                )
            ) TAG_COUNT,
            (
                SELECT WEB_COUNT FROM visitor_count WHERE ID = 1
            ) VIEWS_COUNT,
            (
                SELECT COUNT(DISTINCT ADDRESS_IP) FROM visitor
            ) VISITOR_COUNT,
            (
                SELECT COUNT(1) FROM user WHERE DELETED = 0
            ) USER_COUNT,
            (
                SELECT COUNT(1) FROM comment WHERE DELETED = 0 AND IS_REVIEW = 1
            ) COMMENT_COUNT,
            (
                SELECT COUNT(1) FROM message WHERE IS_REVIEW = 1
            ) MESSAGE_COUNT,
            (
                SELECT VERSION_NAME FROM version WHERE DELETED = 0 ORDER BY CREATE_TIME DESC LIMIT 1
            ) WEBSITE_VERSION
        FROM DUAL
    </select>

    <select id="selectCommentLikeSet" resultType="java.lang.Long">
        SELECT DISTINCT COMMENT_ID FROM comment_like WHERE USER_ID = #{userId}
    </select>

    <select id="selectTalkLikeSet" resultType="java.lang.Long">
        SELECT DISTINCT TALK_ID FROM talk_like WHERE USER_ID = #{userId}
    </select>

    <select id="selectArticleLikeSet" resultType="java.lang.Long">
        SELECT DISTINCT ARTICLE_ID FROM article_like WHERE USER_ID = #{userId}
    </select>
</mapper>
