<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.stazxr.zblog.content.mapper.TagMapper">
    <select id="selectTagList" resultType="com.github.stazxr.zblog.content.domain.vo.TagVo">
        SELECT
            t.ID,
            ANY_VALUE(t.NAME) AS NAME,
            ANY_VALUE(t.SLUG) AS SLUG,
            ANY_VALUE(t.SEO_TITLE) AS SEO_TITLE,
            ANY_VALUE(t.SEO_KEYWORDS) AS SEO_KEYWORDS,
            ANY_VALUE(t.SEO_DESCRIPTION) AS SEO_DESCRIPTION,
            ANY_VALUE(t.SEO_SEARCH) AS SEO_SEARCH,
            ANY_VALUE(t.ENABLED) AS ENABLED,
            COUNT(atr.ARTICLE_ID) AS ARTICLE_COUNT
        FROM tag t
        LEFT JOIN article_tag_relation atr ON atr.TAG_ID = t.ID AND atr.DELETED = 0
        <where>
            <if test="query.name != null and query.name != ''">
                <bind name="nameBind" value="'%' + query.name + '%'"/>
                AND t.NAME LIKE #{nameBind}
            </if>
            <if test="query.slug != null and query.slug != ''">
                <bind name="slugBind" value="'%' + query.slug + '%'"/>
                AND t.SLUG LIKE #{slugBind}
            </if>
            <if test="query.seoSearch != null">
                AND t.SEO_SEARCH = #{query.seoSearch}
            </if>
            <if test="query.enabled != null">
                AND t.ENABLED = #{query.enabled}
            </if>
        </where>
        GROUP BY t.ID
        ORDER BY ARTICLE_COUNT DESC, t.ID DESC
    </select>

    <select id="selectAllTagList" resultType="com.github.stazxr.zblog.content.domain.vo.TagVo">
        SELECT
            t.ID, t.NAME, t.SLUG, t.ENABLED
        FROM tag t
        <where>
            <if test="keyword != null and keyword != ''">
                <bind name="keywordBind" value="'%' + keyword + '%'"/>
                AND t.NAME LIKE #{keywordBind}
            </if>
        </where>
        ORDER BY t.NAME
    </select>

    <select id="selectTagDetail" resultType="com.github.stazxr.zblog.content.domain.vo.TagVo">
        SELECT
            t.ID, t.NAME, t.SLUG,
            t.SEO_TITLE, t.SEO_KEYWORDS, t.SEO_DESCRIPTION,
            t.SEO_SEARCH, t.ENABLED,
            CREATE_TIME, UPDATE_TIME,
            (SELECT u.USERNAME FROM user u WHERE u.ID = t.CREATE_USER) AS CREATE_USERNAME,
            (SELECT u.USERNAME FROM user u WHERE u.ID = t.UPDATE_USER) AS UPDATE_USERNAME,
            (SELECT COUNT(ARTICLE_ID) FROM article_tag_relation atr WHERE atr.TAG_ID = t.ID AND atr.DELETED = 0) AS ARTICLE_COUNT
        FROM tag t WHERE t.ID = #{tagId}
    </select>
</mapper>
