server:
  port: ${SERVER_PORT:8081} # 应用端口
spring:
  application:
    name: zblog # 应用名称
  profiles:
    include: dev
  main:
    allow-bean-definition-overriding: false # 是否允许覆盖BEAN
    allow-circular-references: false # 是否允许循环依赖
  datasource:
    druid:
      # 基本信息
      driver-class-name: ${zblog.db.DbDriver} # 数据源驱动
      url: ${zblog.db.DbUrl} # 数据库连接 URL
      username: ${zblog.db.DbUser} # 数据库用户名
      password: ${zblog.db.DbPass} # 数据库密码

      # 连接池大小配置
      initial-size: 10 # 连接池的初始连接数, 建议 InitialSize ≥ MinIdle
      min-idle: 10 # 连接池的最小连接数
      max-active: 20 # 连接池的最大连接数
      max-wait: 10000 # 连接池的最大等待时间（毫秒）

      # 连接有效性检查
      remove-abandoned-timeout: 180 # 连接在被视为可回收之前需要空闲的最长时间（以秒数为单位）
      time-between-eviction-runs-millis: 180000 # 空闲连接清理任务的运行间隔时间（毫秒）
      max-evictable-idle-time-millis: 900000 # 连接池的最大生存时间（毫秒）
      min-evictable-idle-time-millis: 300000 # 连接池的最小生存时间（毫秒）
      validation-query: select 1 # 检测连接是否有效
      test-on-borrow: true # 指明是否在从池中取出连接前进行检验, 如果检验失败, 则从池中去除连接并尝试取出另一个
      test-on-return: false # 是否在归还到池中前进行检验
      test-while-idle: true # 指明连接是否被空闲连接回收器（如果有）进行检验. 如果检测失败, 则连接将被从池中去除

      # 防止泄漏
      remove-abandoned: true # 当连接池中的某个连接被应用程序借出后长时间没有归还，Druid 会认为这个连接“被遗弃”，并自动回收
      remove-abandoned-timeout-millis: 300000 # 指定连接被认为“被遗弃”的时间阈值，单位是毫秒。一般建议 比最大可能执行的 SQL 时长稍大，避免误回收正在执行的合法连接
      log-abandoned: true # 打印堆栈，方便排查

      # 预处理语句缓存（可提升性能）
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20

      # Web 应用监控配置
      web-stat-filter:
        enabled: true # 启用统计和监控 Web 应用程序的请求和响应数据
        url-pattern: /api/* # 配置监控的 URL 映射
        exclusions: '*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*' # 设置不需要统计的 URL

      # 过滤器配置（监控，防火墙，日志等）
      filter:
        stat: # SQL 监控配置，用于 SQL 执行的统计和监控，提供 SQL 执行时间、慢查询等信息的记录
          enabled: true
          log-slow-sql: true # 打印慢SQL
          slow-sql-millis: 2000 # 慢SQL阙值（单位毫秒）
          merge-sql: true # 合并 SQL 查询
          db-type: mysql # 数据库类型
        slf4j: # SQL 日志配置
          enabled: false
        wall: # SQL防火墙配置，用于 SQL 安全控制，防止 SQL 注入和管理 SQL 执行权限
          enabled: true
          config:
            comment-allow: false # 是否允许 SQL 注释，防止通过注释绕过防火墙
            drop-table-allow: false # 不允许删除表
            none-base-statement-allow: false # 是否允许非基础 SQL
            multi-statement-allow: false # 指定是否允许在一个 Statement 对象中执行多个 SQL 语句
            strict-syntax-check: true # 严格检查 SQL 语法，发现危险 SQL 就拦截
            truncate-allow: false # 禁止 TRUNCATE TABLE
  redis:
    database: ${zblog.redis.database} # 指定 Redis 使用的数据库索引，Redis 默认有 16 个数据库，索引从 0 到 15
    host: ${zblog.redis.host} # Redis 服务器地址
    port: ${zblog.redis.port} # Redis 服务器的端口号
    password: ${zblog.redis.password} # Redis 服务器的密码
    connect-timeout: ${zblog.redis.connect.timeout} # 连接超时时间，单位为毫秒，用于定义客户端连接到 Redis 服务器的最大等待时间
    client-type: lettuce
    lettuce:
      pool:
        # 连接池中保持的最小空闲连接数
        min-idle: ${zblog.redis.lettuce.pool.minIdle}
        # 连接池中允许的最大空闲连接数
        max-idle: ${zblog.redis.lettuce.pool.maxIdle}
        # 连接池中允许的最大活动连接数，如果活动连接数超过此值，将会有新的连接请求被阻塞或抛出异常
        max-active: ${zblog.redis.lettuce.pool.maxActive}
        # 从连接池中获取连接时的最大等待时间，单位为毫秒。如果超过此时间仍未获取到连接，将会抛出异常
        max-wait: ${zblog.redis.lettuce.pool.maxWait}
        # 连接池中连接的清理周期，单位为毫秒。用于定义多长时间执行一次空闲连接的检查和清理，以保持连接池的健康
        time-between-eviction-runs: ${zblog.redis.lettuce.pool.timeBetweenEvictionRuns}
  web:
    resources:
      add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
    pathmatch:
      matching-strategy: ant_path_matcher
  freemarker:
    check-template-location: false
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .ftl
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
      location: /tmp/zblog_upload_tmp
  mail:
    host: ${zblog.email.host} # 邮箱服务器
    port: ${zblog.email.port} # 邮箱服务器端口 25/465/587
    username: ${zblog.email.username} # 邮箱用户
    password: ${zblog.email.password} # 邮箱授权码（非登录密码）
    properties:
      mail:
        smtp:
          auth: true
          ssl: # 465
            enable: true # 启用 SSL/TLS 加密
            required: true # 所有与 SMTP 服务器的连接是否都必须使用 SSL/TLS 加密
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
          # starttls: # 587
            # enable: true # 启用 STARTTLS 协议。如果服务器支持 STARTTLS，这将会启用加密连接
            # required: true # 强制要求使用 STARTTLS 协议。如果 SMTP 服务器不支持 STARTTLS，连接将失败
mybatis:
  configuration-properties:
    close-implicitly: true
mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-value: true
      logic-not-delete-value: false
swagger:
  config:
    enable: true
    title: Z-BLOG 接口文档
    description: Z-BLOG 是一款基于 MIT 协议的前后端分离博客框架，同时也可用作为前后端分离脚手架，快速进行项目搭建，仓库链接：https://github.com/stazxr/zblog
    base-package: com.github.stazxr.zblog
    server-url: https://www.suntaoblog.com
    version: V_5.0.0
    contact:
      name: 孙涛
      email: stazxr@qq.com
      url: https://www.suntaoblog.com
zblog:
  base:
    header: # 请求头配置
      sys-code: ST # 系统编码
      app-code: ZBLOG # 应用编码
      deploy:
        deploy-area: bj # 部署地域
        deploy-center: j # 部署机房
        deploy-unit: 0 # 部署单元
        deploy-ip: # 部署IP
    context: # 上下文配置
      tags: # 自定义标签配置
        - { tag-name: conversation-id } # conversation-id
    i18n:
      cache-ttl: 1800000 # 缓存刷新周期，单位毫秒
      load-sql: SELECT code, locale, message FROM i18n_message # 从数据库加载国际化数据的 SQL 语句。
      code-column: code # 数据库中 "code" 列名
      message-column: message # 数据库中 "message"（消息内容）列名
      locale-column: locale # 数据库中 "locale"（语言）列名
      base-names: # 本地资源文件的基础名列表（无扩展名）
        - messages/messages
        - ValidationMessages # 用户自定义的校验消息文件
        - ContributorValidationMessages # 允许约束定义的贡献者（Constraint Definition Contributor）提供一个自己的默认消息文件
        - org.hibernate.validator.ValidationMessages # Hibernate Validator 内置的默认消息文件
    seq: # 序号配置
      datacenter-id: 0 # 数据中心ID
      machine-id: 0 # 机器ID
    cache:
      type: memory # 全局缓存类型
    security: # 安全配置
      login-url: /api/login # 登录 URL
      logout-url: /api/logout # 注销 URL
      password-limited-day: 90 # 密码有效天数，默认 90 天
      sso-token-cache-mills: 86400000 # SSO 令牌缓存时长, 单位毫秒, 默认 3 天
      resource-roles-cache-mills: 1800000 # 资源与角色关联关系的缓存时长, 单位毫秒
      password-history-count: 1 # 新密码不能与最近X次密码重复，可配置 -1，关闭校验
      enable-additional-checks: false # 登录认证是否扩展额外检查规则
      hide-user-not-found-exceptions: false # 设置为 true, 用户不存在时，报错用户找不到，否则报错密码错误
      jwt:
        access-token-duration: 1200
        refresh-token-duration: 2400
        refresh-min-duration: 300
        allowed-renew-token: true
        max-version: 10
        algorithm: RS256
        cert-info:
          alias: zblog
          key-password: 123456
          cert-location: zblog.jks
        claims:
          issuer: http://localhost:${server.port}
          subject: zblog
    file:
      model: 1 # 文件上传模式：1-本地；2-阿里云；3-七牛云
      local:
        base-url: http://localhost:${server.port}/file/
        file-upload-path: /home/${spring.application.name}/file/upload/
    log:
      control:
        enabled: true # 开启全局请求响应日志打印
        model: 0 # 默认值，paths 为允许记录日志的路径列表
        paths:
  # TODO 待替换
  base-package: com.github.stazxr.zblog
  file-base-url: http://localhost:${server.port}/file/
  file-upload-path: /home/${spring.application.name}/file/upload/
  file-domain: /file/**
  file-upload-type: 1
