server:
  port: ${SERVER_PORT:8081} # 应用端口
  tomcat:
    max-swallow-size: -1 # 不限制吞吐大小
spring:
  application:
    name: zblog # 应用名称
  profiles:
    include: dev
  main:
    allow-bean-definition-overriding: false # 是否允许覆盖BEAN
    allow-circular-references: false # 是否允许循环依赖，不建议开启
  datasource:
    druid:
      # 基本信息
      driver-class-name: ${zblog.db.DbDriver} # 数据源驱动
      url: ${zblog.db.DbUrl} # 数据库连接 URL
      username: ${zblog.db.DbUser} # 数据库用户名
      password: ${zblog.db.DbPass} # 数据库密码

      # 连接池大小配置
      initial-size: 10 # 连接池的初始连接数, 建议 InitialSize ≥ MinIdle
      min-idle: 10 # 连接池的最小连接数
      max-active: 20 # 连接池的最大连接数
      max-wait: 10000 # 连接池的最大等待时间（毫秒）

      # 连接有效性检查
      remove-abandoned-timeout: 180 # 连接在被视为可回收之前需要空闲的最长时间（以秒数为单位）
      time-between-eviction-runs-millis: 180000 # 空闲连接清理任务的运行间隔时间（毫秒）
      max-evictable-idle-time-millis: 900000 # 连接池的最大生存时间（毫秒）
      min-evictable-idle-time-millis: 300000 # 连接池的最小生存时间（毫秒）
      validation-query: select 1 # 检测连接是否有效
      test-on-borrow: true # 指明是否在从池中取出连接前进行检验, 如果检验失败, 则从池中去除连接并尝试取出另一个
      test-on-return: false # 是否在归还到池中前进行检验
      test-while-idle: true # 指明连接是否被空闲连接回收器（如果有）进行检验. 如果检测失败, 则连接将被从池中去除

      # 防止泄漏
      remove-abandoned: true # 当连接池中的某个连接被应用程序借出后长时间没有归还，Druid 会认为这个连接“被遗弃”，并自动回收
      remove-abandoned-timeout-millis: 300000 # 指定连接被认为“被遗弃”的时间阈值，单位是毫秒。一般建议 比最大可能执行的 SQL 时长稍大，避免误回收正在执行的合法连接
      log-abandoned: true # 打印堆栈，方便排查

      # 预处理语句缓存（可提升性能）
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20

      # Web 应用监控配置
      web-stat-filter:
        enabled: true # 启用统计和监控 Web 应用程序的请求和响应数据
        url-pattern: /api/* # 配置监控的 URL 映射
        exclusions: '*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*' # 设置不需要统计的 URL

      # 过滤器配置（监控，防火墙，日志等）
      filter:
        stat: # SQL 监控配置，用于 SQL 执行的统计和监控，提供 SQL 执行时间、慢查询等信息的记录
          enabled: true
          log-slow-sql: true # 打印慢SQL
          slow-sql-millis: 2000 # 慢SQL阙值（单位毫秒）
          merge-sql: true # 合并 SQL 查询
          db-type: mysql # 数据库类型
        slf4j: # SQL 日志配置
          enabled: false
        wall: # SQL防火墙配置，用于 SQL 安全控制，防止 SQL 注入和管理 SQL 执行权限
          enabled: true
          config:
            comment-allow: false # 是否允许 SQL 注释，防止通过注释绕过防火墙
            drop-table-allow: false # 不允许删除表
            none-base-statement-allow: false # 是否允许非基础 SQL
            multi-statement-allow: false # 指定是否允许在一个 Statement 对象中执行多个 SQL 语句
            strict-syntax-check: true # 严格检查 SQL 语法，发现危险 SQL 就拦截
            truncate-allow: false # 禁止 TRUNCATE TABLE
  redis:
    database: ${zblog.redis.database} # 指定 Redis 使用的数据库索引，Redis 默认有 16 个数据库，索引从 0 到 15
    host: ${zblog.redis.host} # Redis 服务器地址
    port: ${zblog.redis.port} # Redis 服务器的端口号
    password: ${zblog.redis.password} # Redis 服务器的密码
    connect-timeout: ${zblog.redis.connect.timeout} # 连接超时时间，单位为毫秒，用于定义客户端连接到 Redis 服务器的最大等待时间
    client-type: lettuce
    lettuce:
      pool:
        # 连接池中保持的最小空闲连接数
        min-idle: ${zblog.redis.lettuce.pool.minIdle}
        # 连接池中允许的最大空闲连接数
        max-idle: ${zblog.redis.lettuce.pool.maxIdle}
        # 连接池中允许的最大活动连接数，如果活动连接数超过此值，将会有新的连接请求被阻塞或抛出异常
        max-active: ${zblog.redis.lettuce.pool.maxActive}
        # 从连接池中获取连接时的最大等待时间，单位为毫秒。如果超过此时间仍未获取到连接，将会抛出异常
        max-wait: ${zblog.redis.lettuce.pool.maxWait}
        # 连接池中连接的清理周期，单位为毫秒。用于定义多长时间执行一次空闲连接的检查和清理，以保持连接池的健康
        time-between-eviction-runs: ${zblog.redis.lettuce.pool.timeBetweenEvictionRuns}
  web:
    resources:
      add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
    pathmatch:
      matching-strategy: ant_path_matcher
  freemarker:
    check-template-location: false
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .ftl
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB # 单个文件最大
      max-request-size: 100MB # 单次请求最大（多文件）
      file-size-threshold: 2MB # 超过后写入磁盘
      location: ${java.io.tmpdir} # 临时文件的存放目录，linux场景下某些系统 /tmp 目录很小，需要重新客户化这个参数
  mail:
    host: ${zblog.email.host} # 邮箱服务器
    port: ${zblog.email.port} # 邮箱服务器端口 25/465/587
    username: ${zblog.email.username} # 邮箱用户
    password: ${zblog.email.password} # 邮箱授权码（非登录密码）
    properties:
      mail:
        smtp:
          auth: true
          ssl: # 465
            enable: true # 启用 SSL/TLS 加密
            required: true # 所有与 SMTP 服务器的连接是否都必须使用 SSL/TLS 加密
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
          # starttls: # 587
            # enable: true # 启用 STARTTLS 协议。如果服务器支持 STARTTLS，这将会启用加密连接
            # required: true # 强制要求使用 STARTTLS 协议。如果 SMTP 服务器不支持 STARTTLS，连接将失败
mybatis:
  configuration-properties:
    close-implicitly: true
mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-value: true
      logic-not-delete-value: false
swagger:
  config:
    enable: true
    title: Z-BLOG 接口文档
    description: Z-BLOG 是一款基于 MIT 协议的前后端分离博客框架，同时也可用作为前后端分离脚手架，快速进行项目搭建，仓库链接：https://github.com/stazxr/zblog
    base-package: com.github.stazxr.zblog
    server-url: https://www.suntaoblog.com
    version: V_5.0.0
    contact:
      name: 孙涛
      email: stazxr@qq.com
      url: https://www.suntaoblog.com
zblog:
  base:
    # 线程池配置
    thread-pool:
      core-size: 2 # 核心线程数
      max-size: 4 # 最大线程数
      queue-capacity: 20 # 任务队列容量
      keep-alive-seconds: 180 # 线程空闲存活时间（秒）
      thread-name-prefix: zblog- # 线程名称前缀
      wait-for-tasks-to-complete-on-shutdown: true # 应用关闭时是否等待线程池中的任务执行完成
      monitor-enabled: true # 是否开启线程池监控日志.
      monitor-interval: 10000 # 线程池监控日志打印间隔（毫秒）.
    # 全局缓存配置
    cache:
      type: memory # 全局缓存类型，支持 memory 或 redis
    # 全局异常配置
    exception:
      error-code-config:
        check: true # 是否开启错误码格式检查
        scan-package: com.github.stazxr.zblog # 错误码扫描的起始包
    # 国际化配置
    i18n:
      cache-ttl: 300000 # 国际化消息缓存刷新周期，单位毫秒
      load-sql: SELECT code, message, locale FROM i18n_message # 从数据库加载国际化数据的 SQL 语句。
      code-column: code # 数据库中 "code" 列名
      message-column: message # 数据库中 "message"（消息内容）列名
      locale-column: locale # 数据库中 "locale"（语言）列名
      basenames: # 本地资源文件的基础名列表（无扩展名）
        - messages/messages
        - ValidationMessages # 用户自定义的校验消息文件
        - ContributorValidationMessages # 允许约束定义的贡献者（Constraint Definition Contributor）提供一个自己的默认消息文件
        - org.hibernate.validator.ValidationMessages # Hibernate Validator 内置的默认消息文件
    # 邮件通知配置
    mail:
      from:
        address: ${spring.mail.username} # 发件地址，务必与配置的邮件发送人保持一致
        name: Z-BLOG # 发件人
    # 序号配置
    sequence:
      datacenter-id: 0 # 数据中心id
      machine-id: 0 # 机器id
    # 上下文配置
    header:
      sys-code: ST # 系统编码
      app-code: Z-BLOG # 应用编码
      deploy:
        deploy-area: beijing # 部署地域
        deploy-center: '3' # 部署机房（可用区）
        deploy-unit: 0 # 部署单元
        deploy-ip: # 部署IP（为空会自动获取）
    context:
      tags: # 自定义标签配置
        - { tag-name: token } # token
    # 日志打印配置
    log:
      control:
        enabled: true # 开启全局请求响应日志打印
        model: 1 # 模式: 1-白名单模式；2-黑名单模式
        paths:
    # 文件存储配置
    file:
      model: 1 # 文件上传模式：1-本地；2-阿里云；3-七牛云；4-腾讯云
      local:
        enabled: true # 是否启用本地文件存储
        file-access-url: http://localhost:${server.port}/file/ # 本地文件访问 URL 前缀，用于拼接文件对外访问地址
        storage-path-prefix: /home/${spring.application.name}/upload/ # 本地文件存储路径前缀
      oss:
        enabled: false # 是否启用阿里云 OSS 文件存储
        file-access-url: https://your-bucket-name.oss-cn-beijing.aliyuncs.com # 阿里云 OSS 文件访问 URL 前缀
        storage-path-prefix: upload # 阿里云 OSS 文件存储路径前缀
        access-key: your-access-key-id # 阿里云 AccessKey ID
        secret-key: your-access-key-secret # 阿里云 AccessKey Secret，建议客户化到 sys_props 表中，不要硬编码在配置文件中
        endpoint: oss-cn-beijing.aliyuncs.com # 阿里云 OSS Endpoint
        bucket-name: your-bucket-name # 阿里云 OSS 存储桶名称
      kodo:
        enabled: false # 是否启用七牛云对象存储 Kodo
        file-access-url: https://domaincdn.com # 七牛云 Kodo 文件访问 URL（空间绑定域名）
        storage-path-prefix: upload # 七牛云 Kodo 文件存储路径前缀
        access-key: your-access-key # 七牛云 AccessKey（AK）
        secret-key: your-secret-key # 七牛云 SecretKey（SK），建议客户化到 sys_props 表中，不要硬编码在配置文件中
        zone: huabei # 七牛云存储区域标识
        zone-name: your-zone-name # 七牛云存储空间名称
      cos:
        enabled: false # 是否启用腾讯云 COS 对象存储
        file-access-url: https://your-bucket-name.cos.region.myqcloud.com # 腾讯云 COS 文件访问 URL 前缀
        storage-path-prefix: upload # 腾讯云 COS 文件存储路径前缀
        access-key: your-access-id # 腾讯云访问密钥 ID，建议使用子用户
        secret-key: your-secret-key # 腾讯云访问密钥 SecretKey，建议客户化到 sys_props 表中，不要硬编码在配置文件中
        region: ap-beijing # 腾讯云 COS 所在地域
        bucket-name: your-bucket-name # 腾讯云 COS 存储桶名称
    # 统一响应配置
    rest:
      error-path: /error # 错误路径
      not-package-uris: # 不进行统一包装的 URI 列表
        - /swagger-resources
        - /v3/api-docs
        - /v2/api-docs

    # TODO 安全配置
    security:
      login-url: /api/login # 登录 URL
      logout-url: /api/logout # 注销 URL
      password-limited-day: 90 # 密码有效天数，默认 90 天
      sso-token-cache-mills: 86400000 # SSO 令牌缓存时长, 单位毫秒, 默认 3 天
      resource-roles-cache-mills: 1800000 # 资源与角色关联关系的缓存时长, 单位毫秒
      password-history-count: 1 # 新密码不能与最近X次密码重复，可配置 -1，关闭校验
      enable-additional-checks: false # 登录认证是否扩展额外检查规则
      hide-user-not-found-exceptions: false # TODO 待验证 设置为 true, 用户不存在时，报错用户找不到，否则报错密码错误
      jwt:
        access-token-duration: 1200
        refresh-token-duration: 2400
        refresh-min-duration: 300
        allowed-renew-token: true
        max-version: 10
        algorithm: RS256
        cert-info:
          alias: zblog
          key-password: 123456
          cert-location: zblog.jks
        claims:
          issuer: http://localhost:${server.port}
          subject: zblog
  website:
    name: Z-BLOG # 站点名称
    url: http://127.0.0.1:31945 # 站点地址
  aop-log:
    enabled: true # 是否启用切面日志
    async: true # 是否开启异步日志写入
    recordParam: true # 是否记录接口请求参数
    recordResult: false # 是否记录接口返回值，建议关闭以避免日志过大
    max-param-length: 5000 # 记录的最大参数长度，超过部分将被截断
    max-result-length: 5000 # 记录的最大返回长度，超过部分将被截断
